In [1]:
import pandas as pd

In [7]:
df_trips = pd.read_parquet ('green_tripdata_2025-11.parquet')

df_trips.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [ ]:
 trips_short = df_trips[df_trips['trip_distance'] <= 1]
 len(trips_short)

In [ ]:
# Filter trips with distance less than 100 miles
filtered_trips = df_trips[df_trips['trip_distance'] < 100]

# Find the trip with the longest distance
longest_trip = filtered_trips.loc[filtered_trips['trip_distance'].idxmax()]

# Extract the pickup day
pickup_day = longest_trip['lpep_pickup_datetime'].day

print(f"Pickup day with longest trip distance: {pickup_day}")
print(f"Trip distance: {longest_trip['trip_distance']} miles")

In [15]:
filtered_trips = df_trips[df_trips['trip_distance'] < 100]

# Find the trip with the longest distance
longest_trip = filtered_trips.loc[filtered_trips['trip_distance'].idxmax()]

# Extract the pickup day
pickup_day = longest_trip['lpep_pickup_datetime'].day

print(f"Pickup day with longest trip distance: {pickup_day}")
print(f"Trip distance: {longest_trip['trip_distance']} miles")

Pickup day with longest trip distance: 14
Trip distance: 88.03 miles

In [16]:
zones = pd.read_csv('taxi_zone_lookup.csv')

In [18]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
trips_with_zones = df_trips.merge(zones, left_on='PULocationID', right_on='LocationID', how='left')


trips_with_zones = trips_with_zones.rename(columns={
    'Borough': 'PU_Borough',
    'Zone': 'PU_Zone',
    'service_zone': 'PU_service_zone'
})

trips_with_zones = trips_with_zones.drop('LocationID', axis=1)

trips_with_zones.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,PU_Borough,PU_Zone,PU_service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,NaN,1.0,11.64,1.0,1.0,0.00,0.0,Manhattan,East Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,NaN,1.0,9.70,2.0,1.0,0.00,0.0,Manhattan,East Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,NaN,1.0,21.00,1.0,1.0,0.00,0.0,Queens,Elmhurst/Maspeth,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,NaN,1.0,27.70,1.0,1.0,0.00,0.0,Manhattan,Morningside Heights,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,NaN,1.0,24.65,1.0,1.0,2.75,0.0,Manhattan,Morningside Heights,Boro Zone